{% block header %}
<div id='x-header'>
	<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark p-1">
	  <div class="container-fluid">
		<img src="https://as2.ftcdn.net/v2/jpg/04/76/34/19/1000_F_476341914_21nCAhgFMM6acmi9AGXr9vIu8HdBv2b1.jpg" style="height:40px"/>
		<p class="navbar-brand my-0 ms-2">NOIDA SQUARE PROPERTY</p>
		
		<div class="collapse navbar-collapse" id="navbarCollapse">

		</div>
	  </div>
	</nav></div>
{% endblock %}

{% block main %}

{% endblock %}

{% block footer %}
<footer class="navbar navbar-expand navbar-dark fixed-bottom bg-dark p-1" style="height:30px">
  <div class="container-fluid1">
	<p class="text-light mt-3">&copy; Powered by <a href="https://thinkar.org" class="text-light">Thinkar Foundation</a></p>
  </div>
</footer>
{% endblock %}


